<h2>Desired Skills</h2>
<ul class="skillList">
  <div class="test" fxLayout="row wrap" fxLayoutAlign="stretch" fxLayoutGap="32px grid" layout-wrap="">
    <div fxFlex.gt-xs="50%" [fxFlex.gt-md]="regularDistribution" *ngFor="let skill of skillList">
      <mat-form-field>
        <mat-select [(value)]="skill.desiredLevel">
          <mat-option value="0">{{skill.name}}</mat-option>
          <mat-option *ngFor="let level of range(skill.maxLevel, 1)" [value]="level">{{skill.name + " " + level}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ul>