.innerlayer {
  background-color: lightgray;
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-wrap: wrap;
  gap: 20px 0px;
  align-items: center;
}

mat-form-field {
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

.selectedSkill {
  background-color: rgb(65, 64, 64);
}

.noneSelectedSkill {
  background-color: darkgray;
}

.outerlayer {
  margin-right: 10%;
}
